html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    height: 100vh;
}

main {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

#welcome {
    background-image: url('../img/01.png');
    background-size: cover;
}

#test {
    background-color: rebeccapurple;
}
